p{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    p{
        background-color: black;
         color:green;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
        background-color: black;
         color:red;
     }
 }